/* Container styling */
body::before {
  content: ""; /* Necessary for the pseudo-element to display */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-fruits-vegetables-pattern-background_23-2150849911.jpg?t=st=1722066643~exp=1722070243~hmac=42345bfb26efe30fe89c8381607fa0be7e781fee3b6d2b0cb1eaf647b9d93cc2&w=1380');
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  z-index: -1; /* Place the pseudo-element behind the main content */
}
.filter-search-container {
  max-width: 600px;
  background-color: azure;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.filter-search-container h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Input styling */
.filter-search-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* List styling */
.filter-search-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* List item styling */
.filter-search-container li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}

/* Highlight no items message */
.filter-search-container li.no-items {
  text-align: center;
  color: #999;
  font-style: italic;
}
